.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    padding: 0 30px;
    font-family: 'Cairo', sans-serif;
    background-color: #fff;
    margin-bottom: 30px;
}

.header {
    font-weight: 700;
    font-size: 24px;
    color: #202020;
}
.btn_logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ececeb;
    padding-left: 2px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    margin-left: 30px;
}
.logout {
    width: 20px;
    height: 20px;
}
