.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    padding-left: 30px;
    font-family: 'Cairo', sans-serif;
    background-color: #fff;
    margin-bottom: 30px;
}

.header {
    font-weight: 700;
    font-size: 24px;
    color: #202020;
    margin-right: 310px;
}
