.auth_form {
    height: 527px;
    width: 716px;

    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth_form_fields {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
    height: 192px;
    width: 399px;
}

.checkboxWrapper .checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkboxWrapper {
    font-size: 16px;
    color: #9c9c9c;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 399px;
    margin: 20px 0;
}
.customCheckbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ededed;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    transition:
        background 0.2s,
        border-color 0.2s;
}

.checkbox:checked + .customCheckbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxWrapper:hover .customCheckbox {
    border-color: #555;
    cursor: pointer;
}
.checkbox:checked + .customCheckbox {
    background-color: #242edb;
    border-color: #242edb;
}

.auth_divider_text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-align: center;
    color: #e0e0e0;
    font-weight: 500;
    position: relative;
}
.auth_divider_text {
    font-size: 16px;
    padding: 0 10px;
}

.auth_divider_text::after {
    content: 'или';
    color: rgba(0, 0, 0, 0.12);
    text-shadow: 0 4px 4px #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.auth_divider {
    display: flex;
    align-items: center;
    margin: 16px 0 32px 0;
    color: #ededed;
    font-size: 14px;
    width: 399px;
}

.auth_divider::before,
.auth_divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ededed;
}
.button {
    width: 399px;
    height: 54px;
    background: #242edb;
    color: white;
    border: 1px solid #367aff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.button:hover {
    background: #367aff;
}

.signup_link,
.signup_link_text {
    font-size: 18px;
}
.signup_link_text {
    color: #6c6c6c;
    margin-right: 6px;
}
.signup_link {
    color: #242edb;
    text-decoration: underline;
    font-weight: 600;
    text-underline-offset: 4px;
}
