table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 0 18px;
    text-align: center;
    height: 73px;
}
th {
    font-size: 16px;
    color: #b2b3b9;
    border-bottom: 1px solid #e2e2e2;
}
.table__header_name {
    width: 278px;
    text-align: start;
}

.table__header_title {
    padding-left: 18px;
}
