.input {
    width: 100%;
    height: 55px;
    border-radius: 12px;
    border: 1px solid #ededed;
    position: relative;
    padding: 0 54px;
}
.label {
    display: block;
    font-size: 18px;
    color: #232323;
    font-weight: 500;
    margin-bottom: 13px;
}
.container {
    position: relative;
}
.leftIcon {
    position: absolute;
    left: 20px;
    bottom: 16px;
    pointer-events: none;
    display: flex;
    align-items: center;
    z-index: 1;
}

.rightIcon {
    position: absolute;
    right: 20px;
    bottom: 16px;
    display: flex;
    align-items: center;
}

.rightIcon button {
    background-color: transparent;
}
.iconWrapper {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
