.addButton {
    background-color: #242edb;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.form label {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 18px;
    display: block;
    margin-top: 5px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.actions button {
    background-color: #242edb;
    margin-top: 10px;
    padding: 6px 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
}
.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
