.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    position: relative;
}
